<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shady poker site</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>
      The flop <%=@flop%>
    </h1>
  <h3>
    Your cards are <%=@results%>
    </h3>
 <div>   
<h3>Conversion chart!</h3>    
   <div class="col-md-4">
   <h3>1=2</h3>     
   <h3>2=3</h3>
   <h3>3=4</h3>
   <h3>4=5</h3>
   <h3>5=6</h3>
   <h3>6=7</h3>
   <h3>7=8</h3>
   <h3>8=9</H3>
   <h3>9=10</h3>
   <h3>10=J</h3>
   <h3>11=Q</h3>
   <h3>12=K</h3>
   <h3>13=A</h3>
   </div><div class="col-md-4">
   <h3>♣=4</h3>
   <h3>♦=3</h3>
   <h3>♥=2</h3>
   <h3>♠=1</h3> 
   </div>
    </div>
    
   <h3>
     What would you like to do now?
  <form method="POST" action="/second">
  <input type="radio" name="action" value="fold">Fold
  <input type="radio" name="action" value="call">Call
  <input type="radio" name="action" value="raise">Raise
  <input type="submit">
         </form>
    </h3>
    <h5>
      PRIVACY POLICY

This website is committed to providing a fun, safe and secure website for people of
all ages. We are dedicated to safeguarding all personal information collected online.

To help ensure a rewarding online experience for all visitors, we provide this summary of
our information practices. This privacy notice governs the collection and use of information
At this website

As we continue to offer our visitors new and different types of content and services, we
may modify our practices from time to time. However, we will treat all personal information
we collect in accordance with the privacy notice in effect at the time the information is
collected.

I. The Information We Collect

At this website, we do not collect personally identifiable information unless our
visitors voluntarily provide it to us. For some activities, such as online polls or poker,
we may ask visitors to provide information that is personally identifiable. This might
include first name, last name,address, age, gender, credit card information,or social security numbers. For some other activities, such as collecting their winnings, we may ask
visitors to provide an e-mail address. 

Visitors who order collect their winnings or other materials from this website will
be required to provide their full name, billing and mailing addresses, e-mail address,
telephone number a credit card number, and a social security number. If the order is being shipped to a third party, we will also need the recipient's name and mailing address. Before collecting information in connection with winnings, we will verify the validity of the purchaser's
credit card. On occasion, we might solicit additional voluntary information regarding
shoppers' personal shopping preferences.

We do not knowingly collect names and e-mail
addresses from children under thirteen without notifying the parent via e-mail and giving
the parent the option to remove their child's e-mail address from the applicable database
for that activity. We do not knowingly collect the mailing address of a child under
thirteen without obtaining verifiable consent from that child's parent.  It is up to the
child under thirteen to notify this website of his or her age before submitting any
information to the website.

When visitors come to our site, we automatically collect some personally identifiable
information such as the type of computer operating system (e.g., Windows '95 or Mac OS)
and browser (e.g., Netscape, Internet Explorer) being used, and the domain name of the
Internet service provider (e.g., America Online, Earthlink).

II. How We Use the Information

We use visitors' personal information for internal purposes only, such as subscribing to our
online updates letter, or to order from the store at this website. We use parents'
e-mail addresses to notify them when we have received personal information such as e-mail
addresses from their children and to give parents the option to remove their child's name
from our lists. 

We only use the e-mail addresses of subscribers to our website’s updates letter to
send them the requested letter(s). Each letter also includes instructions for subscription
removal via return e-mail.

We sell, rent, or otherwise share our visitors' personal information with third
parties.  Sometimes, we may use agents or contractors to provide services to our visitors,
such as helping us ship winnings made in the game at this website. In these
cases, we require the agent or contractor to keep the information confidential and to use
it only for the specific services they are performing. We sometimes use personally
identifiable information that we collect to improve the design and content of our site,
and to improve our visitors' experience onthis website. We also may aggregate this
information to analyze site usage, as well as to offer products, programs, or services.

We will disclose information we maintain as required by law, for example, in response to
a court order or a subpoena. We also may disclose such information in response to a
specific law enforcement agency's request.

We may use or transfer personally identifiable information in ways that are materially
different from the ones described above without also providing parental notification of
such practices and obtaining consent for any materially different uses.

III. Cookies

This website does not use Cookies.But you can buy Cookies with your winnings!

IV. Security

We have put in place appropriate physical, electronic, and managerial procedures to
safeguard and help prevent unauthorized access, maintain data security, and correctly use
the information we collect online.

We are particularly sensitive to visitors' security
concerns regarding the use of credit cards to purchase products over the Internet. For
Winnings won in at this website, we work with no one and use a technology that automatically encrypts credit card data while information is being transmitted over the Internet, provided that the visitor's browser supports the Secure Socket Layer protocol (SSL).

V. Contact Us

If you have any questions, comments or concerns regarding our privacy policy and/or
practices, please contact us at the following e-mail address:

E-mail:  xXx_j_bed_xXx@aol.com

TERMS OF USE

Please read these Terms Of Use carefully before using this site. By using this site,
you signify your agreement with these Terms Of Use. If you do not agree with any of the
below Terms Of Use, do not use this site. This site reserves the right, at
its sole discretion, to modify, alter or otherwise update these Terms Of Use at any time.
By using this service after we have posted notice of such modifications, alterations or
updates, you agree to be bound by the revised terms. We retains the right to deny access
to anyone who we believe has violated any of these Terms of Use.

Trademarks, Copyrights and Restrictions

This site is controlled and operated by j_bed. All material on this site, including, but not
limited to images, illustrations, audio clips, and video clips, is protected by copyrights,
trademarks, and other intellectual property rights which are owned and controlled by j_bed
or by other parties that have licensed their material to us. Material on
This website or any website owned, operated, licensed or controlled by us is solely
for your personal, non-commercial use. Such material may not be copied, reproduced,
republished, uploaded, posted, transmitted, or distributed in any way, including by e-mail
or other electronic means. Without the prior written consent of the owner, modification of
the materials, use of the materials on any other web site or networked computer environment,
or use of the materials for any purpose other than personal, non-commercial use is a
violation of the copyrights, trademarks, and other proprietary rights, and is prohibited
and punishable by law.

Links

This site may contain links to other web sites ("Linked Sites"). The Linked Sites are for
your convenience only, and you access them at your own risk. We are not responsible for the
content of the Linked Sites, whether or not we are affiliated with sponsors of the sites.
We does not in any way endorse the Linked Sites.

We welcome links to this site. You may establish a hypertext link to this site, provided
that the link does not state or imply any sponsorship or endorsement of your site by us.
You may not use on your site any trademarks, service marks or copyrighted materials
appearing on this site, including but not limited to any logos or characters, without
the express written consent of the owner of the mark or right. You may not frame or
otherwise incorporate into another web site any of the content or other materials on the
Our site without prior written consent.

Submissions

Any e-mails, notes, message/bulletin board/forum postings, ideas, suggestions, concepts or
other material submitted will become our property throughout the universe. We shall
be entitled, consistent with our policies regarding privacy, to use the material or any of
its elements for any type of use forever, including in any media whether now known or
hereafter devised. When you submit material to our web site, you agree that we have the
right to publish or otherwise use the material or any of its elements for any type of use,
including promotional and advertising purposes, subject to our policies regarding privacy.

Forums and Chat Rooms 

We may from time to time host bulletin boards, chat rooms, forums or other public posting
areas ("Forums"). The information and opinions expressed in Bulletin Boards, Chat Rooms,
or other Forums are not necessarily those of  ours or its affiliated or related entities or
content providers. We makes no representations or warranties regarding information or
opinions that appear in the Forums, and does not endorse or guarantee the accuracy of any
posting. We assume no obligation to monitor the Forums or to delete or edit any postings.
However, we reserves the right to delete, move, or edit any postings that we consider
illegal, inappropriate, or otherwise inappropriate.

By using our web site, you agree that you will not submit or otherwise publish through
the Forums any content which: (a) libels, defames, invades privacy, or is obscene,
pornographic, abusive, or threatening; (b) infringes any intellectual property or other
right of any entity or person, including, but not limited to violating anyone's copyrights
or trademarks; (c) violates any law; (d) advocates illegal activity; or (e) advertises or
otherwise solicits funds or is a solicitation for goods or services.

You agree to indemnify that we and its officers, directors, employees, agents, distributors
and affiliates from and against any and all third party claims, demands, liabilities,
costs, or expenses, including reasonable attorney's fees, resulting from your breach of
any of the foregoing agreements, representations, and warranties.

Disclaimer of Warranties and Liability

The materials on our web site are provided "as is" and without warranties of any kind
either express or implied. We  disclaims all warranties, express or implied, including,
but not limited to, implied warranties of merchantability and fitness for a particular
purpose, other than those warranties which, under the laws applicable to this agreement,
are implied by law and are incapable of exclusion, restriction, or modification. Neither
we, nor our affiliated or related entities, nor any person involved in the creation,
production, and distribution of our web site warrant that the functions contained in
the materials will be uninterrupted or error-free, that defects will be corrected, or
that we or the server that makes them available are free of viruses or other harmful
components. The material that you read on our web site is provided solely for
entertainment and promotional purposes. We do not warrant or make any representations
regarding the use or the results of the use of the materials in our web site in terms
of their correctness, accuracy, reliability, or otherwise.

You expressly agree that use of the this site is at your sole risk. You (and not us )
assume the entire cost of all necessary servicing, repair or correction. You expressly
agree that neither we, nor our affiliated or related entities, nor any of their
respective employees, or agents, nor any person or entity involved in the creation,
production, and distribution of our web site are responsible or liable to any person
or entity whatsoever for any loss, damage (whether actual, consequential, punitive or
otherwise), injury, claim, liability or other cause of any kind or character whatsoever
based upon or resulting from the use of this site or any other of our web sites. By way of
example, and without limiting the generality of the foregoing, we and related persons
and entities shall not be responsible or liable for any claim or damage arising from
failure of performance, error, omission, interruption, deletion, defect, delay in
operation, computer virus, theft, destruction, unauthorized access to or alteration
of personal records, or the reliance upon or use of data, information, opinions or
other materials appearing on this site. You expressly acknowledge and agree that we
are not liable or responsible for any defamatory, offensive or illegal conduct of other
subscribers or third parties.

Jurisdictional Issues 

Unless otherwise specified, the materials in the our web site is presented solely for
the purpose of entertainment and promoting programs and other products available in
the United States, its territories, possessions, and protectorates. This site is
controlled and operated by us from our offices within the State of Texas, United
States of America. We make no representation that materials in our web site is
appropriate or available for use in other locations. Those who choose to access this
site from other locations do so on their own initiative and are responsible for
compliance with local laws, if and to the extent local laws are applicable.

This agreement shall be governed by, construed and enforced in accordance with the
laws of the State of Texas, as it is applied to agreements entered into and to be
performed entirely within such State. Any action you, any third party or we bring to
enforce this agreement or, in connection with, any matters related to this site shall
be brought only in either the state or Federal Courts located in Fulton County,
Georgia, and you expressly consent to the jurisdiction of said courts. If any
provision of this agreement shall be unlawful, void, or for any reason unenforceable,
then that provision shall be deemed severable from this agreement and shall not
affect the validity and enforceability of any remaining provisions. This is the
entire agreement between the parties relating to the matters contained herein and
shall not be modified except in writing, signed by j_bed.

    </h5>
  </body>
</html>